* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px 30px;
    grid-column: 1 / 3;
    background-color:cadetblue;
}

header > span {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.main-wrapper {
    display: grid;
    margin-bottom: auto;
    flex: 1 0 auto;
}

.main {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 15px;
    padding: 20px;
}

.card {
    padding: 30px 20px;
    background-color: rgb(200, 200, 200);
    font-size: 2.2rem;
    border-radius: 8px;
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
    /* gap: 0.6rem; */
}

footer {
    grid-column: 1 / 3;
    background-color: darkgray;
    padding: 20px 30px;
    font-size: 2rem;
    text-align: center;
}

.add-book {
    padding: 10px 30px;
    margin: 10px;
    background-color: firebrick;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    min-height: 210px;
}

.add-book:hover {
    background-color: white;
    border: 2px solid firebrick;
    color: firebrick;
}

.book-name {
    text-align: center;
    font-size: 2.6rem;
    color: firebrick;
    font-weight: bold;
}

.input-form {
    font-size: 1.6rem;
    padding: 10px 20px;
    min-height: 200px;
}

.card.form-wrapper {
    padding: 0;
}

.input-cell {
    display: flex;
    flex-direction: column;
}

.input-cell:nth-child(4) {
    display: block;
}

.input-cell:nth-child(4) label {
    display: block;
}

input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    width: 15px;
    height: 15px;
}

input[type=text] {
    border: 0;
    border-radius: 6px;
    height: 20px;
    padding-left: 5px;
    outline: none;
}

.submit-button {
    padding: 7px 20px;
    background-color: firebrick;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.submit-button:hover {
    background-color: white;
    color: firebrick;
}

.remove-button {
    margin: 10px;
    padding: 7px 20px;
    justify-self: center;
    background-color: firebrick;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: white;
    color: firebrick;
}

.change-status-button {
    margin-top: 10px;
    padding: 7px 20px;
    justify-self: center;
    background-color: firebrick;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.change-status-button:hover {
    background-color: white;
    color: firebrick;
}